/build/*
GeneratedFiles
/version/*
*.user
*.suo
*.ncb
*.sdf
*/moc/*.*
moc_*.*
qrc_*.*
/projects/build*
.vc
.vs
*.VC.opendb
*.VC.db

*.obj
*.pdb
.qmake.stash
Makefile.Debug
Makefile.Release
/projects/qmake/*/Makefile
/projects/qmake/plugins/*/Makefile

*.pro.user.*
